<!-- Footer -->

<section class="Footer">
    <div class="container">
      <footer class="py-5">
        <div class="row">
          <div class="col-6 col-md-2 mb-3">
           <h5>Marketplace</h5>
           <ul class="nav flex-column">
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Art</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Music</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Gaming</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Photography</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">PFPs</a></li>
           </ul>
         </div>

         <div class="col-6 col-md-2 mb-3">
           <h5>My Account</h5>
           <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Profile</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Favourites</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Watchlist</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">My Collections</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Settings</a></li>
           </ul>
         </div>

         <div class="col-6 col-md-2 mb-3">
           <h5>Company</h5>
           <ul class="nav flex-column">
             <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
             <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Careers</a></li>
             <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Ventures</a></li>
             <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
           </ul>
         </div>

         <div class="col-md-5 offset-md-1 mb-3">
         <form>
          <h5>Stay in loop</h5>
          <p>Join our mailing list to stay in the loop with our newest feature releases, NFT drops, and tips and tricks for navigating OpenSea.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
           <label for="newsletter1" class="visually-hidden">Email address</label>
           <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
           <button class="btn" type="button">Subscribe</button>
          </div>
         </form>
         </div>
       </div>

       <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
         <p>© 2023 Company, ZeroCyber</p>
         <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="#"><i class=" fl fa fa-instagram fa-lg" style="color: #1a120b;"></i></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><i class=" fl fa fa-twitter fa-lg" style="color: #1a120b;"></i></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><i class=" fl fa fa-linkedin fa-lg" style="color: #1a120b;"></i></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><i class=" fl fa fa-youtube fa-lg" style="color: #1a120b;"></i></a></li>
         </ul>
       </div>
     </footer>
   </div>
</section>